ServerName {{ FQDN }}

<VirtualHost *:80>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/
    RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>

<AuthnProviderAlias file test_file>
    AuthName "password file"
    AuthBasicProvider  file
    AuthUserFile   /etc/apache2/passwords
</AuthnProviderAlias>



<VirtualHost *:443>
    SetEnv PERL5LIB {{ PERL5LIB }}
    DocumentRoot  {{ DOCDB_HTML_DIR }}
    ScriptAlias /cgi-bin {{ DOCDB_CGI_DIR }}
    RewriteEngine On

    LogLevel warn

    #   SSL Engine Switch:
    #   Enable/Disable SSL for this virtual host.
    SSLEngine on

    SSLCertificateFile /etc/letsencrypt/live/{{ FQDN }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ FQDN }}/privkey.pem

    OIDCProviderMetadataURL {{ PROVIDER_METADATA_URL }}
    OIDCClientID {{ CLIENT_ID }}
    OIDCClientSecret {{ CLIENT_SECRET }}

    # OIDCRedirectURI is a vanity URL that must point to a path protected by this module but must NOT point to any content
    OIDCRedirectURI {{ REDIRECT_URI }}
    OIDCCryptoPassphrase {{ CRYPTO_PASSPHRASE }}

    # These will likely vary by provider
    # https://github.com/netbox-community/netbox/discussions/6705
    OIDCScope "openid email"
    OIDCRemoteUserClaim email
    #RequestHeader unset REMOTE_USER
    #RequestHeader set REMOTE_USER expr=%{REMOTE_USER}

    <Location />
        DirectoryIndex index.html index.cgi index.php /dcc
        AuthType openid-connect
        <RequireAny>
            Require user lppekows@gmail.com
        </RequireAny>
    </Location>

    <LocationMatch "^/[A-za-z0-9_\-\.]+\.(gif|jpe?g|png|ico|js|css)$">
        Require all granted
    </LocationMatch>

    <Location "/login">
        Require all granted
        Options +Includes
    </Location>

    <LocationMatch "^/(Static|public|backgrounds|icon|site-logos)">
        Require all granted
    </LocationMatch>

    # yes ! > 15min some scripts take a LOOOOOONNNNNNGGGGG time
    #Timeout 1000
    Timeout 10

    DefineExternalGroup dccauth environment {{ DOCDB_CGI_DIR }}/private/DocDB/RemoteUserHasAccess
    Alias "/DocDB" "/usr1/www/html/DocDB"

    <Location "/DocDB/">
        LogLevel info authnz_external:debug authz_core:debug
        AuthType openid-connect

        <RequireAny>
            Require user lppekows@gmail.com
        </RequireAny>
    </Location>

    #
    #  where the private version of the dcc code lives
    #  using the alias and Location should make the move away
    #  from /usr1 easier.
    #
    Alias /cgi-bin/private/DocDB /usr1/www/cgi-bin/private/DocDB
    ScriptAlias /dcc  {{ DOCDB_CGI_DIR }}/private/DocDB/DocumentDatabase
    ScriptAlias /pub  {{ DOCDB_CGI_DIR }}/DocDB/DocumentDatabase

    <Location "/cgi-bin/private/DocDB">
        Options +ExecCGI +Indexes
        DirectoryIndex DocumentDatabase
        SetHandler cgi-script
    </Location>

    #####################################################################
    ##
    ##
    ##
    ##  Public DCC ( /cgi-bin/DocDB urls)
    ##
    ##
    ##
    #####################################################################

   Alias "/pub" "/usr1/www/cgi-bin/DocDB"
   Alias /cgi-bin/DocDB {{ DOCDB_CGI_DIR }}/DocDB

   <Location "/cgi-bin/DocDB">
           Require all granted
           Options +ExecCGI +Indexes +FollowSymlinks
           DirectoryIndex DocumentDatabase
           SetHandler cgi-script
   </Location>

   Alias /public /usr1/www/html/public

   <LocationMatch "/public/Static/(js|css|img)/">
       Require all granted
   </LocationMatch>

   <LocationMatch "^/public">
       Options +Indexes +FollowSymLinks +IncludesNoExec +ExecCGI
       DirectoryIndex "/cgi-bin/DocDB/DocumentDatabase"
       Require all granted
   </LocationMatch>


    <Location /ldap>
        SetHandler ldap-status
    </Location>

</VirtualHost>


# intermediate configuration
SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
SSLHonorCipherOrder     off
SSLSessionTickets       off


LDAPSharedCacheSize 500000
LDAPCacheEntries 1024
LDAPCacheTTL 600
LDAPOpCacheEntries 1024
LDAPOpCacheTTL 600






