[Unit]
Description=Workers
Requires=glimpse-incr.service copyist@1.service copyist@2.service redis.service tika.service

[Install]
WantedBy=multi-user.target
